USE [master]
GO
/****** Object:  Database [ContactsContext]    Script Date: 27.10.2023 21:38:18 ******/
CREATE DATABASE [ContactsContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContactsContext', FILENAME = N'C:\Users\Galina\ContactsContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContactsContext_log', FILENAME = N'C:\Users\Galina\ContactsContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContactsContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContactsContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27.10.2023 21:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 27.10.2023 21:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DateOfCreation] [datetime2](7) NOT NULL,
	[DateOfChange] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231027110030_Initial', N'7.0.13')
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Id], [Name], [Email], [DateOfCreation], [DateOfChange]) VALUES (1, N'Иванов И.И.', N'ivanov@gmail.com', CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Contact] ([Id], [Name], [Email], [DateOfCreation], [DateOfChange]) VALUES (2, N'Петров П.П.', N' petrov@gmail.com', CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Contact] ([Id], [Name], [Email], [DateOfCreation], [DateOfChange]) VALUES (3, N'Сидоров С.С.', N'sidorov@gmail.com', CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2), CAST(N'2023-10-27T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
USE [master]
GO
